<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Transaction</title>
</head>
<body>
    <H1 style="color: blue">Add New Transaction</H1>
    <form action="add_transaction" method="POST">
        {% csrf_token %}
        ID: <textarea name="id" rows="1" cols="30" required></textarea><br>
        Transaction Sum: <textarea name="transaction_sum" rows="1" cols="30" required></textarea><br>
        <input type="submit"><b>  {{ error_message }}</b>
    </form>

    <H1 style="color: blue">Last 10 Transactions</H1>
    <table border="1" width="40%">
        <th>Date</th>
        <th>Investor ID</th>
        <th>Transaction Sum</th>
        {% for content in table_results %}
            <tr>
                <td>{{ content.date }} </td>
                <td>{{ content.investor_id }} </td>
                <td>{{ content.quantity }} </td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <a href="home">Home</a>
    <br>
    <a href="query_results">Query Results</a>
    <br>
    <a href="buy_stocks_page">Buy Stocks</a>
</body>
</html>