<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stocks Website</title>
</head>
<body>
    <H1 style="color: blue">Welcome to the Stocks Website</H1>
    <img src='https://d1wa5qhtul915h.cloudfront.net/app/uploads/2021/08/Bike-Europe-Stock-Chart.jpg'
         width="600" height="400" alt='stocks photo'>
    <br>
    <a href="query_results">Query Results</a>
    <br>
    <a href="add_transaction">Add Transaction</a>
    <br>
    <a href="buy_stocks">Buy Stocks</a>
</body>
</html>